@()
<table style="width: 600px;font-family: sans-serif;">
	<tbody>
	 	<tr style="background-color: black;" id="emailHeader">
			<td>
				<span style="float: left; margin-left: 20px; color: #e74c3c; font-size: 20px; font-weight: bold;">BORROWLENDME</span>
				<span style="float: right; margin-right: 20px; color: white; font-size: 17px; font-weight: bold;">Lending & Borrowing Stuff Simplified</span>
			</td>
		</tr>
		<tr id="emailBody" style="background-color: #e74c3c;">
		    <td>
				Hello<br/><br/>
				Welcome to <b>BORROWLENDME</b>!<br/><br/>
				We have some of the most unique features in <b>BORROWLENDME</b> which will help you get the details of users who actually lend the stuff you needed, write to us to know more.<br/>
				We provide absolutely free app download and usage from play store.<br/><br/>
		    </td>
	  	</tr>
  	</tbody>
</table>
<img border="0" width="80px" height="60px" src="http://idos.cloudapp.net/assets/images/borrowlendme.png"/>
<b><font face="Verdana" size="3">BORROWLENDME</font></b>
<b><font face="Verdana" size="1">Bangalore,INDIA<a href="www.borrowlendme.com">www.borrowlendme.com</a></font></b>
<font face="Verdana" size="2">*This is a computer generated e-mail. Please, do not reply to this.</font>